[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
matplotlib = "*"
ffmpeg-python = "*"
dtw = "*"
pydub = "*"
pyloudnorm = "*"
requests = "*"
webdav4 = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.9"
